<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDZcK5frKwWn60ZnOLxRdZ4QUCXs2NxWjM" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

</manifest>